[submodule "seller-app"]
    path = seller-app
    url = https://github.com/ONDC-Official/seller-app/tree/595df1ce1c21b54ab43839e191369f98496552b1
[submodule "seller-app-protocol"]
    path = seller-app-protocol
    url = https://github.com/ONDC-Official/seller-app-protocol.git
[submodule "seller-app-frontend"]
    path = seller-app-frontend
    url = https://github.com/ONDC-Official/seller-app-frontend.git
[submodule "seller-app-igm"]
	path = seller-app-igm
	url = https://github.com/ONDC-Official/seller-app-igm.git
[submodule "seller-bugzilla-service"]
	path = seller-bugzilla-service
	url = https://github.com/ONDC-Official/seller-bugzilla-service.git
